/* === Colors Ramps ===================================== */

body.dark-theme {
    --neutral-50: #f9fafb;
    --neutral-100: #f3f4f6;
    --neutral-200: #e5e7eb;
    --neutral-300: #d1d5db;
    --neutral-400: #9ca3af;
    --neutral-500: #6b7280;
    --neutral-600: #4b5563;
    --neutral-700: #374151;
    --neutral-800: #1f2937;
    --neutral-900: #111827;
    --neutral-950: #030712;

    --accent-50: #f5f3ff;
    --accent-100: #ede9fe;
    --accent-200: #ddd6fe;
    --accent-300: #c4b5fd;
    --accent-400: #a78bfa;
    --accent-500: #8b5cf6;
    --accent-600: #7c3aed;
    --accent-700: #6d28d9;
    --accent-800: #5b21b6;
    --accent-900: #4c1d95;
    --accent-950: #2e1065;
}

body.light-theme {
    --neutral-50: #030712;
    --neutral-100: #111827;
    --neutral-200: #1f2937;
    --neutral-300: #374151;
    --neutral-400: #4b5563;
    --neutral-500: #6b7280;
    --neutral-600: #9ca3af;
    --neutral-700: #d1d5db;
    --neutral-800: #e5e7eb;
    --neutral-900: #f3f4f6;
    --neutral-950: #f9fafb;

    --accent-50: #2e1065;
    --accent-100: #4c1d95;
    --accent-200: #5b21b6;
    --accent-300: #6d28d9;
    --accent-400: #7c3aed;
    --accent-500: #8b5cf6;
    --accent-600: #a78bfa;
    --accent-700: #c4b5fd;
    --accent-800: #ddd6fe;
    --accent-900: #ede9fe;
    --accent-950: #f5f3ff;
}

/* === Utilities ======================================== */

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

/* === Components ======================================= */

/* --- Panel -------------------------------------------- */

.ui-panel {
    background: var(--neutral-900);
}

/* --- Separator ---------------------------------------- */

.ui-sep-after {
    border-right: solid 1px var(--neutral-800);
}

.ui-sep-before {
    border-left: solid 1px var(--neutral-800);
}

.ui-sep-top {
    border-top: solid 1px var(--neutral-800);
}

.ui-sep-bottom {
    border-bottom: solid 1px var(--neutral-800);
}

.ui-border {
    border: solid 1px var(--neutral-800);
}

.ui-shadow {
    box-shadow: 0 0 10px var(--neutral-800);
}

/* --- Button ------------------------------------------- */

.ui-button {
    --ui-button-idle: transparent;
    --ui-button-hover: var(--neutral-800);
    --ui-button-active: var(--neutral-700);

    background: var(--ui-button-idle);
    color: var(--neutral-50);
    border-radius: 0.3rem;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    transition: all 100ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-button:hover {
    background: var(--ui-button-hover);
}

.ui-button:active {
    background: var(--ui-button-active);
}

.ui-button-accent {
    --ui-button-idle: var(--accent-800);
    --ui-button-hover: var(--accent-700);
    --ui-button-active: var(--accent-800);
}
