<div class="scrollable grid">
    <div class="snippet btn" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> button
    </div>
    <div class="snippet heading" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> Title
    </div>
    <div class="snippet div" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> div
    </div>
    <div class="snippet hr" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> division
    </div>
    <div class="snippet p" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> Text
    </div>
    <div class="snippet a" draggable="true" ondragstart="onSnippetDrag(event)">
        <div class="icon">&lt;/&gt;</div> Link
    </div>
</div>